[submodule "Navigation-filter-test"]
	path = Navigation-filter-test
	url = https://github.com/HKUAstar/Navigation-filter-test.git
branch = RMUC2026
[submodule "livox_ws/src/livox_ros_driver2"]
	path = livox_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	branch = master
